<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="/css/background.css" rel="stylesheet" type="text/css" />

    <title>找回密码</title>
</head>

<body>
    <div id="content">
    <form id="data" method="POST" class="login-input-box">
        <div class="login-input-box">
            <span>请输入要找回的用户名：</span>
            <input type="text" id="username" name="username">

        </div>
        <div class="login-input-box">
            <span>请输入注册时的手机号：</span>
            <input type="text" id="tel" name="tel">

        </div>
    </form>
    <div class="login-button-box">

    <button type="button" id="next" class="login-button-box">下一步</button>
</div>
<div class="login-button-box">

    <button type="button" id="back" class="login-button-box">返回</button>
</div>
</div>
    <script>
        $(function () {
            $("#next").click(function () {
                if ($("#username").val() == "" || $("#username").val().replace(/(^\s*)|(\s*$)/g, "") == "") {
                    alert("用户名不能为空！");
                    return false;
                }
                if ($("#tel").val() == "" || $("#tel").val().replace(/(^\s*)|(\s*$)/g, "") == "") {
                    alert("手机号不能为空！");
                    return false;
                }

                $.ajax({
                    type: "POST",
                    xhrFields: { withCredentials: true },

                    data: $("#data").serialize(),
                    url: "http://localhost:8888/user/check",
                    success: function (data) {
                        if (data == true) {
                            $(location).attr("href", "http://localhost:8888/user/changepage")

                        } else {
                            alert("用户名或手机号错误！");
                            return false;
                        }
                    }
                })
            })
            $("#back").click(function () {
                history.back();
            })


        })
    </script>
</body>

</html>