<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>访问博客</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>
    <div>
        <ul id="content">
        </ul>
        </div>
        <ul id="data">

        </ul>
       
        <script>
            $(function(){
               
               
                $.ajax({
                    url:"http://localhost:8888/blog/visitorgetlist",
                    xhrFields:{withCredentials:true},
        
                    success:function(data){
                            $.each(data,function(i,val){
                                
                                var $li_new=$("<a href=\"http://localhost:8888/blog/visitorgetcontent?id="+val.id+"\">"+"<li>"+val.title+"</li>"+"</a>");
                                $("#content").append($li_new);
                            }) 
        
                           
                    }
                });
            });
        </script>
</body>
</html>